#citizen-part2-military .citizen-part2-military-form .ant-form-item-label{
    white-space: normal !important;
    line-height: 1.4 !important;
}


.citizen-part2-military-form .field-items .ant-form-item{
    display: flex;
    align-items: center;
}