#mailing-instruction-form .add-form-button {
    width: 30%;
    margin-right: 20px;
  }
  
  .default-btn{
    background: gainsboro !important;
  }
  
  
  #mailing-instruction-form .ant-form-item-label{
        text-align: left !important;
        vertical-align: middle !important;
        line-height: 1.4 !important;
        display: inline-block !important;
        overflow: hidden !important;
        white-space: normal !important;
  }