.welcome-container{
    font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial;
    color: #3e3c42;
}

.welcome-container .landing-heading{
    font-size: 63px;
    font-family: inherit;
    color: inherit;
    margin-bottom: 10px;
}
