#case-overview .name-pills {
    background-color:#70808F !important;
    color:#fff !important;
    border-radius: 16px !important;
    padding: 5px 12px  !important;
    display: inline-block !important;
    margin-right: 10px;
}

#case-overview .info p{
    line-height: 1;
}

#case-overview .equal-cards{
    height: 430px;
    margin-bottom: 10px;
}