#alien-part-5 .steps-content {
    margin-top: 16px;
    background-color: #fafafa;
    min-height: 200px;
    text-align: left;
    padding-top: 15px;
  }
  
#alien-part-5 .steps-action {
    margin-top: 24px;
  }